* {
  font-family: "Roboto", Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-weight: normal;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  min-width: 1440px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.04%, rgba(245, 245, 245, 0)), to(#F5F5F5));
  background: -webkit-linear-gradient(top, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
  background: -o-linear-gradient(top, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  padding: 8px 16px 8px 35px;
  font-size: 16px;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  min-height: 40px;
  color: #595959;
  background-position: 16px 50%;
  background-repeat: no-repeat;
}

.search {
  background-color: white;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  font-size: 16px;
  padding-left: 35px;
  width: 100%;
  min-height: 34px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
}

.header {
  min-height: 106px;
}

.header__wrapeer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 44px;
}

.header__search {
  width: 690px;
}

.header__search .search--header {
  background-image: url(../img/header/home.svg);
}

.btns--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 220px;
}

.btns--header .btn--user {
  color: white;
  background-color: #1890FF;
  background-image: url(../img/header/user.svg);
}

.btns--header .btn--basket {
  background-color: white;
  background-image: url(../img/header/basket.svg);
}

.info__wrapper {
  background-color: #FFF1B8;
  background-image: url(../img/info/bg.png);
  background-repeat: no-repeat;
  background-position: right;
  min-height: 300px;
  margin-top: 18px;
  margin-bottom: 56px;
  color: #302C34;
}

.info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 540px;
  padding-top: 70px;
  margin-left: 68px;
}

.info__title {
  font-size: 39px;
  font-weight: bold;
  margin-bottom: 15px;
}

.info__descr {
  font-size: 24px;
}

.rest__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 45px;
}

.rest__title {
  font-weight: bold;
  font-size: 36px;
}

.rest__search {
  min-width: 306px;
}

.search--rest {
  background-image: url(../img/rest/search.svg);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 384px;
  min-height: 380px;
  background-color: white;
  margin-bottom: 30px;
}

.card__image {
  width: 100%;
  margin-bottom: 25px;
}

.card__image img {
  width: 100%;
}

.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 337px;
  margin: 0 auto;
}

.card__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card__title {
  font-weight: bold;
  font-size: 24px;
}

.card__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1px 8px;
  font-size: 12px;
  color: white;
  background-color: #262626;
  border-radius: 3px;
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__item {
  position: relative;
  margin-right: 25px;
  font-size: 18px;
  color: #8C8C8C;
}

.item--rating {
  margin-left: 22px;
  font-weight: bold;
  color: #FFC107;
}

.item--rating::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  margin-top: 2px;
  margin-left: -23px;
  background-image: url(../img/card/star.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item--food::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  left: 0;
  margin-top: 7.5px;
  margin-left: -15px;
  border-radius: 50%;
  background-color: #8C8C8C;
}

.footer {
  max-width: 1440px;
  min-width: 1440px;
  background-color: white;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 160px;
}

.footer__info, .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__logo {
  margin-right: 30px;
}

.list__item {
  font-size: 18px;
  color: #595959;
}

.list__item:not(:last-child) {
  margin-right: 15px;
}

.list--social .list__item {
  height: 25px;
}

.list--social .list__item:not(:last-child) {
  margin-right: 21px;
}
