.footer{
	max-width: 1440px;
	min-width: 1440px;
	background-color: white;
}
.footer__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	min-height: 160px;
}
.footer__info, .list{
	display: flex;
	align-items: center;
}
.footer__logo{
	margin-right: 30px;
}
.list__item{
	font-size: 18px;
	color: #595959;
	&:not(:last-child){
		margin-right: 15px;
	}
}
.list--nav{
	.list__item{
		transition: 0.3s;

		&:hover{
			padding-bottom: 5px;
			border-bottom: 1px solid #595959;
		}
		&:active{
			border-color: hsl(0, 0%, 55%);
			a{
				color: hsl(0, 0%, 55%);
			}
		}
	}
}

.list--social{
	.list__item{
		height: 25px;
		&:not(:last-child){
			margin-right: 21px;
		}
	}
}


@media (max-width: $tablet-width){
	.footer{
		max-width: 100%;
		min-width: 0px;
	}
}
@media (max-width: $mobile-width){
	.footer__wrapper{
		min-height: 120px;
	}
	.footer__info{
		flex-wrap: wrap;
		padding-top: 20px;
	}
	.list__item{
		font-size: 16px;
	}
	.footer__wrapper{
		flex-direction: column;
	}
	.footer__social{
		margin-bottom: 20px;
	}
}
@media (max-width: 550px){
	.footer__wrapper, .footer__info{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer__logo, .footer__info{
		margin-bottom: 20px;
	}
}
@media (max-width: 420px){
	.list--nav{
		a{
			font-size: 14px;
		}
	}
}