.footer{
	max-width: 1440px;
	min-width: 1440px;
	background-color: white;
}
.footer__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	min-height: 160px;
}
.footer__info, .list{
	display: flex;
	align-items: center;
}
.footer__logo{
	margin-right: 30px;
}
.list__item{
	font-size: 18px;
	color: #595959;
	&:not(:last-child){
		margin-right: 15px;
	}
}
.list--nav{
	.list__item{
		transition: 0.3s;

		&:hover{
			padding-bottom: 5px;
			border-bottom: 1px solid #595959;
		}
		&:active{
			border-color: hsl(0, 0%, 55%);
			a{
				color: hsl(0, 0%, 55%);
			}
		}
	}
}

.list--social{
	.list__item{
		height: 25px;
		&:not(:last-child){
			margin-right: 21px;
		}
	}
}