.header{
	min-height: 106px;
}
.header__wrapeer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 44px;
}
.header__search{
	width: 690px;
	.search--header{
		background-image: url(../img/header/home.svg);
	}
}
.btns--header{
	display: flex;
	justify-content: space-between;
	width: 220px;
	.btn--user{
		color: white;
		background-color: #1890FF;
		background-image: url(../img/header/user.svg);
	}
	.btn--basket{
		background-color: white;
		background-image: url(../img/header/basket.svg);
	}
}

