.menu.hide{
	display: none;
}
.menu{
	.menu__info{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 40px;
	}
	.info__list{
		margin-left: 25px;
		margin-top: 30px;
	}
	.menu__title{
		margin-left: 0px;
		font-size: 36px;
	}
	.close__menu{
		width: 40px;
		height: 30px;
		cursor: pointer;

		background-image: url(../img/menu/back.svg);
		background-position: center 2px;
		background-repeat: no-repeat;

		margin-right: 10px;
	}
	.card__name{
		flex-direction: column;
	}
	.card__title{
		font-size: 24px;
		font-weight: normal;
		width: 100%;
		margin-bottom: 10px;
		cursor: default;
		&:hover{
			padding-bottom: 0px;
			border-bottom: none;
		}
	}
	.card__ingredients{
		font-size: 18px;
		line-height: 21px;
		max-width: 240px;
		margin-bottom: 25px;
		color: #8C8C8C;
	}
	.card__info{
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}
	.card__image{
		cursor: default;
	}
	.btn--in_garbage{
		color: white;
		background-color: #1890FF;
		padding-left: 16px;
		padding-right: 35px;

		background-image: url(../img/menu/icon-container.svg);
		background-position: 90% 50%;
		&:hover{
			background-color: hsl(209, 100%, 65%);
			color: white;
		}
		&:active{
			background-color: hsl(209, 100%, 75%)
		}
	}
	.card__prise{
		margin-left: 32px;
		font-weight: bold;
		font-size: 20px;
	}
}