.restaurants.hide{
	display: none;
}
.rest__info{
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
}
.rest__title{
	font-weight: bold;
	font-size: 36px;
}
.rest__search{
	min-width: 306px;
}
.search--rest{
	background-image: (url(../img/rest/search.svg));
}

@media (max-width: $mobile-width){
	.rest__title{
		font-size: 32px;
		margin-bottom: 10px;
	}
	.rest__info{
		flex-wrap: wrap;
	}
}